@use '../vars' as *;

.generic-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  .generic-modal {
    position: relative;
    background-color: var(--color-note-area-bg);
    padding: $unit5;
    border-radius: $unit3;
    z-index: 11;
    box-shadow:
      0 $unit1 $unit1 -$unit0 rgb(0 0 0 / 20%),
      0 $unit2 $unit3 0 rgb(0 0 0 / 14%),
      0 $unit0 $unit4 $unit0 rgb(0 0 0 / 12%);

    .generic-modal-content {
      max-width: $unit14;
      width: 100%;
    }
  }
}

.modalClose {
  position: absolute;
  top: $unit2;
  right: $unit2;
  &:hover {
    color: var(--accent);
  }
}

.ReactModal__Overlay {
  background-color: transparent !important;
}
